@mixin animation ($color) {
  background-color: $color;
  box-shadow: 0 0 20px $color;
}

@mixin noAnimation ($color) {
  background-color: $color;
  box-shadow: none;
}

@keyframes blinkerGreen {
  0% { @include animation(green) }
  50% { @include noAnimation(#7a9d6f) }
  100% { @include animation(green) }
}

@keyframes blinkerYellow {
  0% { @include animation(yellow) }
  50% { @include noAnimation(#a5a47e) }
  100% { @include animation(yellow) }
}

@keyframes blinkerRed {
  0% { @include animation(red) }
  50% { @include noAnimation(#a06a66) }
  100% { @include animation(red) }
}

.green, .red, .yellow {
  width: 70px;
  height: 70px;
  border-radius: 50vh;
}

.green  {@include animation(green)}

.yellow {@include animation(yellow)}

.red {@include animation(red)}

.action {
  animation-duration: 1s;
  animation-iteration-count: 3;
}

.green.action{
  animation-name: blinkerGreen;
}

.yellow.action{
  animation-name: blinkerYellow;
}

.red.action{
  animation-name: blinkerRed;
}
